<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <div class="navbar-brand">Health Shop</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      <!--  <li class="nav-item"><a href="/about" class="nav-link">Introduce</a></li>-->
        <li class="nav-item"><a href="/survey/" class="nav-link">Survey Start</a></li>
        <li class="nav-item"><a href="/survey/insert" class="nav-link">Survey Manage</a></li>
        <!--<li class="nav-item"><a href="/about" class="nav-link">Q&A</a></li>-->
      </ul>
    </div>
  </div>
</nav>
